/* Mobile S */
@media screen and (max-width: 576px) {
    /* acceuil_1_1 */
    .acceuil_img {
        height: auto;
    }
    .animation_1 {
        position: relative;
        top: 120px;
    }
    .acceuil_1_1 {
        display: flex;
        flex-direction: column;
    }
    
    .border2 {
        position: relative;
        top: 20px;
    }
    /* acceuil 3 */
    #acceuil_3 {
        position: relative;
        top: 30px;
    }
    .logo a {
        margin-left: -15px;
    }
    /* Equipe */
    .sec_equipe1 .row .col-md-12 {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .sec_equipe1 .the_img {
        margin-top: -80px;
    }


    /* New.HTML section 1 */
    .carousel-item .img-1, .carousel-item .img-2, .carousel-item .img-3, .carousel-item .img-4, .carousel-item .img-5 {
        width: auto;
        height: 250px;
    }
    .new_alls {
        display: flex;
        flex-direction: column;   
        margin-left: 0px;
    
    }
    #text h3 {
        position: relative;
        bottom: 0px;
        top: -100px;
    }  
    #text .h3 {
        width: 70%;
    } 
    /* section 2 new.html */
    .new_border {
        width: 300px;
        height: 400px;
        margin-bottom: 20px;
    }
    .new_border:hover .border_child{
        width: 290px;
        height: 300px; 
    }

    /* sexction 4 */
    .pn4 {
        margin-top: 10px;
    }

}

/* Tablette */
@media only screen and (max-width: 768px) {
    /* New.html */
    /* section_2 */
    .new_alls {  
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0px;
    }
    .new_top1, .new_top2{
        margin-top: -150px;
    }

    
}