* {
    padding: 0;
    margin: 0;
}
body {
    outline: none;
    
}

a {
    text-decoration: none; 
}
/* header*/
.navbar {
    background-color: grey;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    transition: 1s;
}

.logo a {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.logo a:hover {
    color: white;
}

/* Index.HTML */
.acceuil_img, .acceuil_img1 {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/acceuil-img.avif);
    width: 100%;
    height: 580px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.acceuil_logo, .acceuil_text{
    color: white;
    position: relative;
    top: 200px;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 20px;
}

.animation_1 {
    animation: animation_1 6s ease;
}

.acceuil_logo a {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.acceuil_logo_warriors {
    float: right;
}

.acceuil_logo_warriors .warriors {
   width: 100%;
   position: relative;
   bottom: 40px;
   animation: float 6s ease-in-out infinite;
}
/* acceuil_2 */
.acceuil_1_1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.border1 {
    animation: animation_2 6s ease;
}

.border2 {
    animation: animation_2 6s ease;
}

.img-coach {
    height: 300px;
}
/* section 3 */

.a3_text {
    position: relative;
    top: 30px;
}

/* footer */
.acceuil_footer {
    background: gray;
    padding: 30px;
}







/* New.HTML Section 1*/

.carousel-item .img-1 {
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/groupe.jpeg);
    width: auto;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: img-1 4s ease;
}
.carousel-item .img-2 {
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/groupe1.jpeg);
    width: auto;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: img-1 4s ease;
}
.carousel-item .img-3 {
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/groupe2.jpeg);
    width: auto;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: img-1 4s ease;

}
.carousel-item .img-4 {
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/groupe3.jpeg);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: img-1 4s ease;
}
.carousel-item .img-5 {
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/groupe4.jpeg);
    width: auto;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: img-1 4s ease;
}

#text h3 {
    position: relative;
    bottom: 300px;
    left: 30px;
    color: white;
    font-weight: bold;
    border: 1px solid gray;
    width: 200px;
    animation: warriors 6s ease-in-out;
}
/* section new_2 */
.gray {
    background: gainsboro;
    height: auto;
}
.new_2 .new_border {
    background-image: url(images/coach.jpeg);
    background-size: cover;
    border: 1px solid black;
    width: 250px;
    height: 250px;
    position: relative;
    top: 50px;
    left: 30px;
    transition: 5s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.other_border {
    border: 8px solid white;
    width: 250px;
    height: 250px;
    position: relative;
    top: -220px;
    transition: 2s;
}
.other_border:hover {
    transform: translate(30px, 20px);
}

.new_logo {
    display: flex;
    justify-content: center
}
.new_logo img {
    width: 100px;
    height: 100px;
}
.new_textes {
    position: relative;
    top: -120px;
}





/* Amination CSS */
@keyframes float {
    0%{
        transform: translateY(0px);
        
    }
    50%{
        transform: translateY(-30px);
        color: black;
    }  
    100%{
        transform: translateY(0px);
    }
    
}

@keyframes warriors {
    0%{
        transform: translateX(-100%);
        
    }
    50%{
        transform: translateX(80%);
        color: black;
    }   
}
@keyframes img-1 {
    50%{
        transform: scale(0.9);
    }
}
@keyframes animation_1 {
    0% {
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(0%);
    }
}
@keyframes animation_2 {
    0% {
        transform: translateY(-50%);
    }
    50%{
        transform: translateX(0%);
    }
}